<html>
<body>
<form action = "http://localhost:5000/login" method = "post">

<p>Enter your Age:</p>
<p> <input type = "text" name = "age" /></p>

<p>Gender: </p>
<select name = 'g'>
<option value = "Female"> Female </option>
<option value = "Male"> Male </option>
</select>

<p>Location: </p>
<select name = 'l'>
<option value = "France"> France </option>
<option value = "Germany"> Germany </option>
<option value = "Spain"> Spain </option>
</select>

<p>Do you own a Credit Card? </p>
<select name = 'cc'>
<option value = "Has_cc"> Yes </option>
<option value = "No_cc"> No </option>
</select>

<p>Credit Score: </p>
<p> <input type = "text" name = "C_score" /></p>

<p>Tenure: </p>
<p> <input type = "text" name = "tenure" /></p>

<p>Number of products: </p>
<p> <input type = "text" name = "products" /></p>

<p>Estimated Salary: </p>
<p> <input type = "text" name = "salary" /></p>

<p>Available Balance: </p>
<p> <input type = "text" name = "balance" /></p>

<p>Are you an Active member? </p>
<select name = 'a'>
<option value = "active"> Yes </option>
<option value = "Inactive"> No </option>
</select>

<p> <input  type = "submit" value = "submit"/></p>
</form>
<b>{{abc}}</b>
</body>
</html>